trigger:
  - main
pool:
  vmImage:  'windows-latest'
variables:
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
stages:
  - stage: Build
    jobs:
      - job: Build
        steps:
        - task: UseDotNet@2
          inputs:
            packageType: 'sdk'
            version: '8.x'
        - task: DotNetCoreCLI@2
          inputs:
            command: 'restore'
            projects: '**/*.csproj'
            feedsToUse: 'select'
            vstsFeed: '3846a1fd-2375-4c96-9ffd-e0fe437360a0/32482252-1e99-4f74-aa6d-f89d15bc00ae'
        - task: DotNetCoreCLI@2
          inputs:
            command: 'build'
            projects: '**/*.csproj'
        - task: DotNetCoreCLI@2
          inputs:
            command: 'test'
            projects: '**/*Tests/*.csproj'
            arguments: '--configuration $(buildConfiguration) --logger trx'
            publishTestResults: true
        - task: DotNetCoreCLI@2
          inputs:
            command: 'publish'
            publishWebProjects: true
            arguments: '--configuration Release --output $(Build.ArtifactStagingDirectory)'

        - task: PublishBuildArtifacts@1
          inputs:
            PathtoPublish: '$(Build.ArtifactStagingDirectory)'
            ArtifactName: 'drop'
            publishLocation: 'Container'



